{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Ваша корзина
{% endblock %}

{% block nav %}
<a class="nav-link active" href="{% url "shop:product_list" %}">Главная страница</a>
<a class="nav-link" href="{% url "shop:toppings_and_decoration" %}">Начинки и оформление</a>
<a class="nav-link" href="{% url "shop:tiered_cakes" %}">Ярусные торты</a>
<a class="nav-link" href="{% url "shop:order_and_payment" %}">Заказ и оплата</a>
<a class="nav-link" href="{% url "shop:contacts" %}">Контакты</a>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Ваша корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Фото</th>
        <th>Продукт</th>
        <th>Начинка и количество</th>
        <th>Удалить</th>
        <th>Цена за кг.</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}">
              </a>
            </td>
            <td><b>{{ product.name }}</b></td>
            <td>
              <form id="change_fields" action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_fields_form.topping }}
                {{ item.update_fields_form.quantity }}
                {{ item.update_fields_form.override }}
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Удалить">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>ИТОГО</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} руб.</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button
    light">Продолжить покупки</a>
    <a href="{% url "orders:order_create" %}" class="button">Оформить заказ</a>
  </p>
</div>
<script>
<!--  // Получаем форму и поле ChoiceField по их id-->
  var cartForm = document.querySelector('#change_fields');
  var choiceQuantity = document.querySelector('#id_quantity');
  var choiceTopping = document.querySelector('#id_topping');

<!--  // Добавляем обработчик события "change" на поле ChoiceField-->
  choiceQuantity.addEventListener('change', () => {
<!--    // Отправляем данные формы на сервер-->
    cartForm.submit();
  });
    choiceTopping.addEventListener('change', () => {
<!--    // Отправляем данные формы на сервер-->
    cartForm.submit();
  });
</script>
{% endblock %}