{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}

{% block styles %}
<style>
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col {
    width: 100%;
  }
}
</style>
{% endblock %}

{% block nav %}
<a class="nav-link" aria-current="page" href="{% url "shop:product_list" %}">Главная страница</a>
<a class="nav-link" href="{% url "shop:toppings_and_decoration" %}">Начинки и оформление</a>
<a class="nav-link" href="{% url "shop:tiered_cakes" %}">Ярусные торты</a>
<a class="nav-link" href="{% url "shop:order_and_payment" %}">Как заказать</a>
<a class="nav-link active" aria-current="page" href="{% url "shop:contacts" %}">Контакты</a>
{% endblock %}

{% block content %}
<div class="container text-center">
  <br>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
          <p class="fs-5">Телефон: +7(905)886-34-42</p>
          <p class="fs-5">Telegram: <a href="https://t.me/panteley_a">@panteley_a</a></p>
            <h3>Наши соцсети:</h3>
          <p class="fs-5">Telegram: <a href="https://t.me/panteley_konditer">@panteley_konditer</a></p>
          <p class="fs-5">Instagram: <a href="http://instagram.com/panteley_konditer">@panteley_konditer</a></p>
            <p class="fs-5">Адрес самовывоза: г. Екатеринбург, ул. Комсомольская 15</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac83874af6a5b40b15a83cf0d269751fe3f6f49a26f0b1eac90bb8ab3e2ccc445&amp;width=100%25&amp;height=330&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</div>


{% endblock %}