{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Начинки и оформление
{% endblock %}

{% block nav %}
<a class="nav-link" href="{% url "shop:product_list" %}">Главная страница</a>
<a class="nav-link active" aria-current="page" href="{% url "shop:toppings_and_decoration" %}">Начинки и оформление</a>
<a class="nav-link" href="{% url "shop:tiered_cakes" %}">Ярусные торты</a>
<a class="nav-link" href="{% url "shop:order_and_payment" %}">Заказ и оплата</a>
<a class="nav-link" href="{% url "shop:contacts" %}">Контакты</a>
{% endblock %}
