{% extends "shop/base.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block nav %}
<a class="nav-link active" href="{% url "shop:product_list" %}">Главная страница</a>
<a class="nav-link" href="{% url "shop:toppings_and_decoration" %}">Начинки и оформление</a>
<a class="nav-link" href="{% url "shop:tiered_cakes" %}">Ярусные торты</a>
<a class="nav-link" href="{% url "shop:order_and_payment" %}">Как заказать</a>
<a class="nav-link" href="{% url "shop:contacts" %}">Контакты</a>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Оформление заказа</h1>
  <div class="order-info">
    <h3>Ваш заказ</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }} кг. {{ item.product.name }}<br>
          Начинка: {{ item.topping_name }}
          <span>{{ item.total_price }} руб.</span>
        </li>
      {% endfor %}
    </ul>
    <p>Сумма: {{ cart.get_total_price }} руб.</p>
  </div>
  <form method="post" class="order-form">
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label></p>
    <p>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><input type="submit" value="Оформить заказ"></p>
    {% csrf_token %}
  </form>
</div>
{% endblock %}