<html>
<head>
  <style>
    table th, table td {
      text-align:center;
      font-size:10px;
    }
  </style>
</head>
<body>
  <h1>Торты</h1>
  <p>
    Счет № {{ order.id }}<br>
    <span class="secondary">
      {{ order.created|date:"d M, Y" }}
    </span>
  </p>
  <h3>Заказчик</h3>
  <p>
    {{ order.first_name }} {{ order.last_name }}<br>
    {{ order.email }}<br>
    {{ order.phone }}
  </p>

  {% include "orders/order/table_order.html" %}

  <table>
    <thead>
      <tr>
        <th>Пожелания</th>
      </tr>
    </thead>
    <tbody>
      <td>{{ order.description }}</td>
    </tbody>
  </table>

</body>
</html>
