<!DOCTYPE html>

{% load static %}

<html xmlns:shop="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Торты{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #fff3cd;">
  <div class="container">
    <a class="navbar-brand" href="{% url "shop:product_list" %}">
        <img src="{% static "img/new_logo.png" %}" width="100" height="100" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          {% block nav %}
        <a class="nav-link active" aria-current="page" href="{% url "shop:product_list" %}">Главная страница</a>
        <a class="nav-link" href="{% url "shop:toppings_and_decoration" %}">Начинки и оформление</a>
        <a class="nav-link" href="{% url "shop:tiered_cakes" %}">Ярусные торты</a>
        <a class="nav-link" href="{% url "shop:order_and_payment" %}">Заказ и оплата</a>
        <a class="nav-link" href="{% url "shop:contacts" %}">Контакты</a>
          {% endblock %}
      </div>
    </div>
        <div class="navbar-nav navbar-right">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            В корзине:&nbsp;
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} товар(-ов) на
              {{ cart.get_total_price }} руб.
            </a>
          {% elif not order %}
            Ваша корзина пуста
          {% endif %}
        {% endwith %}
        </div>
  </div>
</nav>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>